<h1>Edit Book</h1>

<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories%>
  <%= f.input :title, label: "Book title" %>
  <%= f.input :description, label: "Book description" %>
  <%= f.input :author, label: "Book author" %>
  <%= f.button :submit %>
<% end %>
